* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    background-color: #4f6672; /* Color de fondo del header */
    height: 60px; /* Altura del header */
    padding: 0 20px; /* Espaciado dentro del header */
}

.logo {
    width: 40px;
    height: 40px;
    background-color: #9ad1dc; /* Color de la caja de logo */
    margin-right: 20px;
}

nav ul.menu {
    display: flex;
    list-style: none;
    flex-grow: 1;
}

nav ul.menu li {
    background-color: #788890; /* Color de las cajas del menú */
    width: 60px;
    height: 10px;
    margin-right: 10px;
}

main {
    display: flex;
    flex: 1;
    padding: 20px;
}

.contenido {
    flex: 3;
    padding-right: 20px;
}

.caja-principal {
    height: 100px;
    background-color: #f29d85; /* Color de la caja principal */
    margin-bottom: 20px;
}

.caja-secundaria {
    height: 60px;
    background-color: #9ad1dc; /* Color de la caja secundaria */
    margin-bottom: 20px;
}

.caja-terciaria {
    height: 80px;
    background-color: #3c4548; /* Color de la caja terciaria */
    margin-bottom: 20px;
}

.caja-texto {
    height: 15px;
    background-color: #e2e2e2; /* Color de las cajas de texto */
    margin-bottom: 15px;
}

aside {
    flex: 1;
    background-color: #f3f3f3; /* Color de fondo de la barra lateral */
    padding: 10px;
}

.caja-lateral {
    height: 40px;
    background-color: #9a9a9a; /* Color de las cajas de la barra lateral */
    margin-bottom: 15px;
}
